article {
  transition: box-shadow .3s;
  border-style: solid;
  margin:  1.5em;
  padding: 1em;
}

#name_avatars_handle { 
  display: flex;
  justify-content:space-between;
  align-items: baseline;
}

#content{
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

footer {
display: flex;  
justify-content: space-between;
align-items: baseline;
font-size: 0.5em;
}

.fa {
color: darkblue;
}

.fa:hover{
  color: orange;
}

article:hover{
  box-shadow: 10px 5px rgba(27, 31, 233, 0.2); 
}


   
